*{
    margin: 0;
}
body{
    background-image: url(../imagenes/nnn.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhaina 2', cursive;
    background-attachment: scroll;
    text-align: center;
    padding: 0px;
}
.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    font-size: xx-large;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}

.container a{
    color: white;
    padding-top: 50%;
    text-decoration: none;
}
#artist{
    background-color: rgba(255, 255, 255, 0.137);
    margin-top: 100px;
    height: 70px;
}
#artist h2{
    color: white; 
    font-size: 50px;
}
.artista1 a {
    color:rgb(52, 255, 144);
    text-decoration: none;
    font-size: x-large;
}
.artistas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}
.artista1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-right: 20px;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    background-color: rgba(75, 74, 74, 0.411);
}

img{
    padding-top: 20px;
    width: 300px;
    height: 200px;
}


.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}

@media only screen and (max-width: 320px){ 
    .container{
        flex-direction: column;
        width: 1000px;
    }
    #artist{
        width: 1000px;
    }

    .search{
        margin-left: 450px;
    }
    img{
        width: 280px;
        height: 200px;
    }
    .artista1{
        height: 550px;
    }

    footer img{
        padding-top: 20px;
    width: 600px;
    height: 400px;

    }
}

@media only screen and (max-width:768px){
    .container{
        flex-direction: column;
        width: 1000px;
    }

    #artist{
        width: 1000px;
    }

    .search{
        margin-left: 300px;
    }

    img{
        width: 220px;
        height: 180px;
    }

    .artista1{
        height: 550px;
        width: 285px;
    }
    footer img{
        padding-top: 20px;
    width: 600px;
    height: 400px;

    }


}

