*{
    margin: 0px;
}

body{
    background-image: url(../imagenes/trackdetalle.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhaina 2', cursive;
    align-items: center;
}



.contenedor{
    margin: 7%;
    color: white;
    text-align: center;
    font-size: x-large;
}

#seguidores{
    padding: 3%;
    font-size: x-large;
}
#top5{
    font-size: x-large;
}

.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    padding-top: 15px;
    font-size: xx-large;
    text-align: center;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}

.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}



#imagen-artist{
    border-radius: 20px;
}

@media (max-width:768px){
    .container{
        flex-direction: column;
    }

}

@media (max-width: 420px){
    .container{
        flex-direction: column;
    }

    .footer{
        grid-template-columns:1fr;
    }
}
.dezeer{
    width: 400px;
}