*{
    margin: 0;
}
body{
    background-image: url(../imagenes/nnn.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhaina 2', cursive;
    background-attachment: scroll;
    text-align: center;
    padding: 0px;
}
.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    font-size: xx-large;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}

.container a{
    color: white;
    padding-top: 50%;
    text-decoration: none;
}
#artist{
    background-color: rgba(255, 255, 255, 0.137);
    margin-top: 100px;
    height: 70px;
}
#artist h2{
    color: white; 
    font-size: 50px;
}
.artista1 a {
    color:rgb(52, 255, 144);
    text-decoration: none;
    font-size: x-large;
}
.artistas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.438);
}
.artista1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-right: 20px;
    align-items: center;
    color: white;
    font-size: 20px;
}

img{
    padding-top: 20px;
    width: 300px;
    height: 200px;
}


.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}

@media only screen and (max-width: 320px){
    .artistas{
    grid-template-columns: 1fr;
       margin-left: 50%;
    }
    .container{
        flex-direction: column;
    }
    .footer{
        display: inline-flex;
    }
    .container{
        width: 600px;
    }
    #artist{
        width: 600px;
    }
    .search{
        margin-left: 225px;
    }
    .artistas{
        width: 350px;
    }
}

@media only screen and (max-width:768px){
    .artistas{
        grid-template-columns: 1fr;
        margin-left: 250px;
        width: 350px;
    }
    .artista1{
        padding-top: 30px;
    }
    .container{
        flex-direction: column;
    }
    .footer{
        display: inline-flex;
    }
    .container{
        width: 800px;
    }
    #artist{
        width: 800px;
    }
    .search{
        margin-left: 110px;
    }
}

@media only screen and (max-width:1024px){
    img{
        padding-top: 20px;
        width: 150px;
        height: 100px;
    }
    
}