body{
   background-color: black;
}
header{
   background-color:rgba(117, 112, 112, 0.411)
}
.container{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: xx-large;
}

.canciones{
    background-image: url(../imagenes/detalle.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    display: grid;
    grid-template-rows: 5fr;
}
.uno{
    color: white;
}
.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}