*{
    margin: 0;
}
body{
    background-image: url(../imagenes/ipadrojo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    padding: 0px;
}
.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    font-size: xx-large;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}

.container a{
    color: white;
    padding-top: 50%;
    text-decoration: none;
}

#artist h2{
    color: white; 
    font-size: 50px;
}

#artist{
    margin: 100px 0px 40px 0px ;
    background-color: rgba(255, 255, 255, 0.24);
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-column1 a {
    color:rgb(52, 255, 144);
    text-decoration: none;
    font-size: x-large;
}

.grid-column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.form-control{
    padding: 7px;
    width: 200px;
    margin-bottom: 20px;
    border: lightgrey solid 3px;
}

.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}

.dezeer{
    width: 400px;
}
.nombre-artista{
    color: white;
    font-size: larger;
    text-transform: uppercase;
}

.text-decoration{
    text-decoration: none;
}

.letra-name{
    font-size: x-large;
}


@media (max-width:768px){
    .container{
        flex-direction: column;
    }

    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    img{
        width: 220px;
        height: 180px;
    }

}

@media (max-width: 420px){ 
    .container{
        flex-direction: column;
    }

    .grid-container{
        grid-template-columns: 1fr;
    }

    img{
        width: 220px;
        height: 180px;
    }

    .footer{
        grid-template-columns:1fr;
    }

    body{
        background-image: none;
        background-color: black;
    }

}
