body{
    background-image: url(../imagenes/trackdetalle.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor{
    background-color: rgba(3, 3, 3, 0.479);
    margin: 20% 20% 20% 20%;
    color: white;
    text-align: center;
}

#nombre-artista{
    text-decoration: none;
    color: white;
}

.agregar{
    color: black;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    margin: 5% 40% 5% 40%;
}