*{
    margin: 0px;
}

body{
    background-image: url(../imagenes/trackdetalle.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhaina 2', cursive;
}

.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    font-size: xx-large;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}
.head{
    color: white;
    text-decoration: none;
}
.album{
    text-align: center;
}

.imagencover{
    width: 20%;
    height: 20%;
    border-radius: 20px;
    margin: 10% 40% 2% 40%;
}

#nombre-album{
    color: white;
    font-size: 240%;
}

.link{
    color: white;
    font-size: 135%;
}

#fecha-salida{
    color: white;
    font-size: 100%;
}

.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
.dezeer{
    width: 400px;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}


@media (max-width:768px){
    .container{
        flex-direction: column;
    }

    .dezeer{
        position: relative;
    }

}

@media (max-width: 420px){
    .container{
        flex-direction: column;
    }

    .dezeer{
        position: relative;
    }

    .footer{
        grid-template-columns:1fr;
    }
}
