*{
    margin: 0px;
}
body{
    background-image: url(../imagenes/trackdetalle.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhaina 2', cursive;
    align-items: center;
    text-align: center;
}

.contenedor{
    margin-top: 7%;
    color: white;
}

#nombre-artista{
    text-decoration: none;
    color: white;
}

.agregar{
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.555);
    text-decoration: none;
    border: solid 3px  white;
    padding: 20px;
}

.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    font-size: xx-large;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}
a{
    color: white;
    padding-top: 50%;
    text-decoration: none;
}

.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}


#imagen-track{
    border-radius: 20px;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }

}



@media only screen and (max-width:420px){
    .container{
        flex-direction: column;
    }

    .footer{
        grid-template-columns:1fr;
    }

}
.dezeer{
    width: 400px;
}