*{
    margin: 0px;
}

body{
    background-image: url(../imagenes/trackdetalle.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhaina 2', cursive;
}

.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    font-size: xx-large;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}
.head{
    color: white;
    text-decoration: none;
}

.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}

.dezeer{
    width: 400px;
}
@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }

}



@media only screen and (max-width:420px){
    .container{
        flex-direction: column;
    }

    .footer{
        grid-template-columns:1fr;
    }

}

