*{
    margin: 0px;
}
body{
    background-color: black;
    font-size: xx-large;
    font-family: 'Baloo Bhaina 2', cursive;
}

.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
}


article{
    background-color: rgba(248, 170, 200, 0.322);
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}
a{
    color: white;
    padding-top: 50%;
    text-decoration: none;
}

#columas{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.filas{
    margin-top: 80px;
    border: 1px solid lightpink;
    padding: 10px 250px 10px 250px;
   
}

.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
footer h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}

.dezeer{
    position: relative;
    width: 300px;
}
h2{
    color: white;
    font-family: 'Baloo Bhaina 2;
}

#titulo{
    color: white;
    text-transform: inherit;
    text-align: center;
    font-size: 150%;
}


.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}











@media (max-width:768px){
    .container{
        flex-direction: column;
    }

    header{
        background-image: none;
    }

}

@media (max-width: 420px){
    header {
        background-image: none;
    }
    .container{
        flex-direction: column;
    }

    .filas{
        padding: 10px 40px 10px 40px;
    }

    .footer{
        grid-template-columns:1fr;
    }

}