*{ 
    margin: 0;
}
body{
    padding: 0;
    font-family: 'Baloo Bhaina 2', cursive;
}

header{
    background-image: url(../imagenes/rainbow-flame-ab114-printed-glass-splashback.jpg);
    background-size: cover;
    height: 700px;
    font-size: xx-large;
}
.container p{
    font-family: 'Monoton', cursive;
    color: white;
}

img{
    width: 300px;
    height: 150px;
}
.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
h3 {
    color: white;
    padding: 50px;
    font-size: 35px;
}

#medio{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.nombre{
    position: relative ;
    top: 160px;
    color: white;
}
.nombre p{
    font-family: 'Monoton', cursive;
    font-size: 90px;
}





//media 
@media only screen and (max-width: 320px){
#medio{
    flex-direction: column;
}
.footer{
    display: inline-flex;
    grid-template-columns: 1fr;
}

}

@media only screen and (max-width:768px){
    #medio{
        flex-direction: column;
    }
}

@media only screen and (max-width:1024px){
    #medio{
        flex-direction: column;
    }
}


