body{
    font-family: 'Baloo Bhaina 2';
    text-align: center;
   text-transform: uppercase;
    font-size: xx-large;
    background-image: url(../imagenes/neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
    background-color: rgba(255, 255, 255, 0.144);
    color: white;
    font-family: 'Monoton', cursive;
    padding: 15px;
    
  
}
.titulo{
    font-family: 'Baloo Bhaina 2';
    text-align: center;
    font-size: xx-large;
}

.grid-container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 100px;

}

.grid-column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-right: 20px;
    background-color: rgba(75, 74, 74, 0.411);
    align-items: center;
}

img{
    width: 200px;
}
.a{
    text-decoration: none;
    color: white;
    padding-bottom: 0;
   
}
.altura{
    width: 200px;
    height: 147px;
}
a{
    color: white;
    padding: 15px;
    text-decoration: none;
}
footer{
    height: 100px;
}