*{
    margin: 0px;
}
body{
    background-image: url(../imagenes/nnn.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: xx-large;
    font-family: 'Baloo Bhaina 2', cursive;
}

.container{
    background-color: rgba(102, 101, 101, 0.61);
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    font-size: xx-large;
}

.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding: 10px;
}
.container a{
    color: white;
    padding-top: 50%;
    text-decoration: none;
}

#tracks{
   background-color: rgba(255, 255, 255, 0.137);
   margin-top: 100px;
   height: 70px;
}
h2{
    color: white; 
    font-size: 50px;
}


.grid-container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 100px;
   height: 200px;
}

.grid-column1{
    display: flex;
    flex-direction: column;
    height: 210px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgba(75, 74, 74, 0.411);
    align-items: center;
}

img{
    width: 200px;
}

.grid-container a{
    text-decoration: none;
    color: white;
    padding-bottom: 0;
}


a{
    color: white;
    text-decoration: none;
}

footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 70px;
    height: 400px;
    background-color: black;
}

h3{
    color: white;
    padding: 30px;
    font-size: 35px;
}

.dezeer{
    position: relative;
    padding-left: 800px;
    width: 350px;
    height: 200px;
}
h2{
    color: white;
    font-family: 'Baloo Bhaina 2;
}
img{
    height: 140px;
    width: 160px;
    padding: 10px;
}

@media only screen and (max-width: 320px){ 
    body{
        height: 2700px;
    }
    .container{
        flex-direction: column;
        width: 1390px;
    }

    #tracks{
        width: 1390px;
    }

    .grid-container{
        
        gap: 30px;
        margin-left: 50px;
    }
    .search{
        margin-left: 380px;
    }

    img{
        width: 200px;
        height: 170px;
    }

    .grid-column1{
        height: 250px;
        width: 250px;
    }
    
    footer{
        background: none;
        margin-top: 1200px;
        width: 1390px;
        height: 150px;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .dezeer{
        position: relative;
        width: 300px;
        height: 200px;
        padding-left: 0px;
    }


}

@media only screen and (max-width:768px){
    .container{
        flex-direction: column;
        width: 1500px;
    }

    #tracks{
        width: 1500px;
    }

    .grid-container{
        margin-bottom: 80px;
        gap: 30px;
        margin-left: 50px;
    }
    .search{
        margin-left: 380px;
    }

    img{
        width: 200px;
        height: 170px;
    }

    .grid-column1{
        height: 250px;
        width: 250px;
    }
    
    .footer{
        width: 1500px;
        height: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: black;
    }
    .dezeer{
        position: relative;
        width: 440px;
        height: 200px;
    }


}