body{
    background-image: url(../imagenes/neonartist.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: xx-large;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.315);
    position: fixed;
    top: 0px;
    width: 100%;
}

#generos{
   background-color: rgba(255, 255, 255, 0.151);
   margin-top: 70px;
}

.a{
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.nombre{
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: none;
}

#buscador{   
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.281);

}

.grid-container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 100px;

}

.grid-column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-right: 20px;
    background-color: rgba(75, 74, 74, 0.411);
    align-items: center;
}

img{
    width: 200px;
}
.a{
    text-decoration: none;
    color: white;
    padding-bottom: 0;
}

a{
    color: white;
    padding: 15px;
    text-decoration: none;
}


.footer{ 
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
h3{
    color: white;
    padding: 50px;
    font-size: 35px;
}

.dezeer{
    position: relative;
    width: 300px;
    height: 150px;
}
h2{
    color: white;
    font-family: 'Baloo Bhaina 2;
}